body{
    background-image: url("/img/fondo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}  
.container_page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
    row-gap: 5vh;
    justify-items: center;
    width: 90vw;
    margin: auto;
    position: relative;
    z-index: 1;
    margin-bottom: 10vh;
    
}
.categorias_nav{
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin:auto;
    padding: 2% 10%;
    margin-bottom: 5vh;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    font-size:1.5vw;
    position: sticky;
    top: 0;
    z-index: 3;
    transition: all 0.4s ease;
    
}
.categorias_nav a{
    text-decoration: none;
    color: black;
}

.container_product{
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    column-gap: 10%;
    padding: 5%;
    
}
.container_enlace{
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    border-radius: 12%;
    border: solid thin rgba(255, 255, 255, 0.65);
    box-shadow: 
    -10px -10px 15px rgba(255, 255, 255, 0.25),
    10px 10px 15px rgba(70,70,70,0.12);
    transition: all ease-in 0.2s;
    background-color: rgba(151, 151, 151, 0.2);

    
}
.container_enlace:hover{
    transition: all ease-in 0.2s;
    border: solid thin rgba(114, 246, 255, 0.65); 
    box-shadow: 
    -10px -10px 15px rgba(255, 255, 255, 0.25),
    10px 10px 15px rgba(70,70,70,0.12),
    5px -5px 15px rgba(114, 246, 255, 0.25);
} 
.container_product:hover .product_img img{
    transform: scale(110%);
}
.product_img{
    grid-column: 1/2;
    grid-row: 1/3;
}
.product_img img{
    transition: all ease-in 0.2s;
    width: 90%;
}

.valoracion{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    line-height: 0.2em;
    padding: 5%;
}
.puntuacion{
    font-family: 'Electrolize', sans-serif;
    font-size:2vw;
}
.votaciones{
    font-family: 'Electrolize', sans-serif;
    font-size: 1.2vw;
}
.descripcion{
    grid-column: 1/3;
    grid-row: 2/4;
    font-size: 1.2vw;
    text-align: justify;
    padding: 5%;
    margin-top: 10vh;
    margin-bottom: -5%;
    max-height: 15vh;
    overflow: hidden;
    font-family: 'Share Tech', sans-serif;
    
}

.nombre{
    grid-column: 1/3;
    grid-row: 4/5;
    font-size: 1.4vw;
    text-align: center;
    padding: 5%;
    font-family: 'Electrolize', sans-serif;
}

.nav_fijo{
    transition: all 0.4s ease;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin:auto;
    padding: 0 10%;
    margin-bottom: 5vh;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    font-size:1.5vw;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 25px rgba(114, 246, 255, 0.25);
    border-bottom: solid thin rgba(255, 255, 255, 0.65);
}


